@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
body {
  margin: 0;
  font-size: 1.2rem;
  font-family: "Itim", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
